* {
  box-sizing: border-box;
  justify-content:space-between
}

body {
  font-family: sans-serif;
  margin: 1rem auto;
  padding: 0 2rem;
  border: 2px solid rgb(20, 12, 161);
  width: 30rem;
  height: 30rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

li {
  list-style-type: none; 
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  width: 3rem;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  width: 12rem;
}

.history {
  border: none;
  font-size: 1rem;
  
}

.reset {
  font-size: 2rem;
  color: rgb(55, 0, 255);
  margin-top: 2rem;
}

/* Small screens */
@media screen and (max-width: 480px) {
 body {
    margin: 0.5rem;
    padding: 0;
    border: none;
    width: auto;
    height: auto;
  }

 .status {
    font-size: 1.5rem;
  }

  .reset {
    font-size: 1.5rem;
  }

}